html
*{ font-size: 20px;}
h2
{   margin-top: 4rem;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 3rem;
    color:black;
}
hr 
{   border: 0;
    height: 0.1rem;
    width: 5rem;
    background-color: red;
}

h3 
{   text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 3rem;
    color:grey;
}
.box 
{  
    width: 100%;
    font-size: 0rem;
}
.cell
{   width: calc(100% / 3);
    display: inline-block;
    box-sizing: border-box;
  
}
.circle
{   width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 1px solid #E72424;
    position: relative;

}
.icon
{   font-size: 1rem;
    padding: 0rem 1rem;
    text-align: center;
    margin-top: 20px;
    

}
.name
{   text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    line-height: 1rem;
    color:black;
    padding: 35px;
    margin: auto;
}
.text
{   text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    line-height: 0.8rem;
    color:black;
    margin: 25px;
    
}



